@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Montserrat:wght@200&display=swap');

html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family:  'Ubuntu', sans-serif;
    background:linear-gradient(to bottom,#fff 0,rgba(228,255,239,.8) 20%,rgba(228,255,239,0) 100%);
}
