/* base */
@import '../base/base.css';
@import '../base/layout.css';
@import '../components/button.css';

/* 3rd-party */

@import '../3rd-party/font-awesome.min.css';



/* components */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Montserrat:wght@200&display=swap');

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

/* header: start */
/* header: end */

/* heros: start */

.container > .row > .col-6 > {
    float: left; 
    text-align: center;
}
.container > .row >.col-6 >{
    float: right;
}
/* heros: end */

/* timer: start */
.timer {
  text-align: center;
}
.timer-h3 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 15px;
}
.timer-p {
  font-size: 20px;
  font-weight: 300;
  text-transform: capitalize;
  color:#5c6b56;
}
/* timer: end */

/* clock: start */
/* clock: end */

/* course: start */




.course {
    display: block;
    position: relative;
} 
.carousel-elmt {
  height: 400px; 
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center;
  padding: 40px 0px;
  background: #85CFFF;
  border-radius: 20px; 
  float: left;
}

.carousel-elmt:nth-of-type(2) {
  background: #91D4FF;
}
.carousel-elmt:nth-of-type(3) {
  background: #C999FF;
}
.carousel-elmt:nth-of-type(4) {
  background: #FFCB87;
}

.carousel-elmt:nth-of-type(5) {
  background: #929DFF;
}
  

.course * .btn {
  background: #C9FFF5;
  color: #5DD9C1;
}
.btn:nth-of-type(1) {
  position: absolute;
  top: 40px;
  right: 100px;
}
.btn:nth-of-type(2) {
  position: absolute;
  top: 40px;
  right: 5px;
}
.elmt-img {
   width: 90%;
} 
.elmt-text {
  color: #fff;
  font: 24px;
  font-weight: bold;
  text-decoration: none;
  line-height: 3em;
  
}  



/* course: end */

/* course syllabus: start */
/* course syllabus: end */

/* course benefit: start */
/* course benefit: end */

/* prices: start */
/* prices: end */

/* students review: start */
/* students review: end */

/* email form: start */
/* email form: end */

/* instructor: start */
/* instructor: end */

/* footer: start */
/* footer: end */
