/* base */
@import '../base/base.css';
@import '../base/layout.css';
/* 3rd-party */
/* components */

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

/* header: start */
/* header: end */

/* heros: start */
.col-6 > .right {
    float: left; 
}
.col-6 > .left {
    float: right;
}
/* heros: end */

/* timer: start */
/* timer: end */

/* clock: start */
/* clock: end */

/* course: start */
/* course: end */

/* course syllabus: start */
/* course syllabus: end */

/* course benefit: start */
/* course benefit: end */

/* prices: start */
/* prices: end */

/* students review: start */
/* students review: end */

/* email form: start */
/* email form: end */

/* instructor: start */
/* instructor: end */

/* footer: start */
/* footer: end */
