/* base */
@import '../base/base.css';
@import '../base/layout.css';
@import '../components/button.css';

/* 3rd-party */

@import '../3rd-party/font-awesome.min.css';



/* components */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Montserrat:wght@200&display=swap');
@import '../components/clock.css';

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

/* header: start */
/* header: end */

/* heros: start */

.container > .row > .col-6 > {
    float: left; 
    text-align: center;
}
.container > .row >.col-6 >{
    float: right;
}
/* heros: end */

/* timer: start */
.timer {
  text-align: center;
}
.timer-h3 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 15px;
}
.timer-p {
  font-size: 20px;
  font-weight: 300;
  text-transform: capitalize;
  color:#5c6b56;
}
/* timer: end */

/* clock: start */

.clock-container{
  
}

/* clock: end */

/* course: start */
/* course: end */

/* course syllabus: start */
/* course syllabus: end */

/* course benefit: start */
/* course benefit: end */

/* prices: start */
/* prices: end */

/* students review: start */
/* students review: end */

/* email form: start */
/* email form: end */

/* instructor: start */
/* instructor: end */

/* footer: start */
/* footer: end */
